body {
  font-family: Helvetica;
  background-color: rgb(207, 207, 207);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

body:has(.blog-post-card:hover) {
  background-color: rgb(190, 190, 190);
}

.blog-post-card {
  width: auto;
  max-width: 350px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  margin: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.blog-post-card:hover {
  transform: scale(1.10);
  box-shadow: 4px 4px 20px black;
}

.post-img {
  width: 350px;
  max-width: 100%;
  max-height: 50%;
  border-bottom: 5px solid rgb(59, 55, 55);
  object-fit: cover;
  object-position: top;
}

.post-content {
  max-height: 50%;
  padding: 0;
  margin: 20px;
}

.post-title {
  color: rgb(59, 55, 55);
  margin: none;
}

.post-excerpt {
  color: rgb(74, 74, 74);
  margin: none;
}

.read-more {
  display: inline-block;
  padding: 7px;
  margin: 1px;
  background-color: rgb(55, 55, 55);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}


.read-more:hover {
  background-color: rgb(90, 90, 90)
}

.read-more:active {
  background-color: rgb(150, 150, 150);
}